# 忽略大文件
docs/axinc-ai_ailia-models.pdf
docs/windows-ai.pdf
assets/onnxruntime_web
assets/microsoft_onnxruntime_wasi.wasm
assets/onnxruntime_server_wasi.wasm
assets/nodejs_wasi.wasm
assets/openvino_onnxruntime_wasi.wasm
assets/openvino_onnxruntime_docker.tar
assets/uzh-fpv

# 所有用到的onnx模型
assets/ailia-models

# 未分类文件
files/

# 编译产物
target/*

# 大文件
crates/seekslam_examples/.venv